{{/* A compact mophead hydrangea: tightly packed four sepal florets form a rounded head. */}}
{{ $florets := slice
  (dict "x" 35 "y" 9 "tone" "light") (dict "x" 49 "y" 12 "tone" "mid")
  (dict "x" 24 "y" 15 "tone" "mid") (dict "x" 39 "y" 18 "tone" "deep") (dict "x" 55 "y" 18 "tone" "light") (dict "x" 63 "y" 23 "tone" "mid")
  (dict "x" 17 "y" 27 "tone" "light") (dict "x" 30 "y" 28 "tone" "mid") (dict "x" 44 "y" 29 "tone" "light") (dict "x" 58 "y" 31 "tone" "deep") (dict "x" 68 "y" 35 "tone" "light")
  (dict "x" 19 "y" 40 "tone" "deep") (dict "x" 33 "y" 42 "tone" "light") (dict "x" 47 "y" 41 "tone" "mid") (dict "x" 61 "y" 44 "tone" "light")
  (dict "x" 27 "y" 52 "tone" "mid") (dict "x" 41 "y" 56 "tone" "deep") (dict "x" 54 "y" 52 "tone" "mid")
}}
<svg class="hydrangea-corner" viewBox="0 0 84 76" fill="none" aria-hidden="true">
  <path class="hydrangea-stem" d="M41 57 C41 63 36 68 29 73 M43 57 C49 63 58 67 68 70" />
  <path class="hydrangea-leaf" d="M29 70 C20 62 13 64 11 69 C16 75 24 76 29 70Z" />
  <path class="hydrangea-leaf" d="M58 64 C59 55 67 52 71 55 C71 62 66 67 58 64Z" />
  {{ range $florets }}
  <g class="hydrangea-floret hydrangea-floret-{{ .tone }}" transform="translate({{ .x }} {{ .y }})">
    <path d="M0 0 C-1.2 -1.8 -3.8 -4.4 -2.3 -6.4 C-1.4 -7.8 1.4 -7.8 2.3 -6.4 C3.8 -4.4 1.2 -1.8 0 0Z" />
    <path d="M0 0 C-1.2 -1.8 -3.8 -4.4 -2.3 -6.4 C-1.4 -7.8 1.4 -7.8 2.3 -6.4 C3.8 -4.4 1.2 -1.8 0 0Z" transform="rotate(90)" />
    <path d="M0 0 C-1.2 -1.8 -3.8 -4.4 -2.3 -6.4 C-1.4 -7.8 1.4 -7.8 2.3 -6.4 C3.8 -4.4 1.2 -1.8 0 0Z" transform="rotate(180)" />
    <path d="M0 0 C-1.2 -1.8 -3.8 -4.4 -2.3 -6.4 C-1.4 -7.8 1.4 -7.8 2.3 -6.4 C3.8 -4.4 1.2 -1.8 0 0Z" transform="rotate(270)" />
    <circle class="hydrangea-center" r=".65" />
  </g>
  {{ end }}
</svg>
