<div class="section-bloom section-bloom-{{ . }}" aria-hidden="true">
  <svg viewBox="0 0 300 220" fill="none">
    <path class="branch-line" d="M6 214 C42 180 75 145 111 118 C157 84 213 45 294 8" />
    <path class="branch-line branch-line-small" d="M111 118 C100 88 90 67 73 47 M158 83 C181 94 201 105 218 125 M217 47 C218 29 222 20 233 11" />
    <g class="branch-leaf" transform="translate(62 157) rotate(212)"><path d="M0 0 Q12 -10 24 0 Q12 10 0 0Z" /></g>
    <g class="branch-leaf" transform="translate(89 133) rotate(34)"><path d="M0 0 Q11 -9 22 0 Q11 9 0 0Z" /></g>
    <g class="branch-leaf" transform="translate(137 97) rotate(205)"><path d="M0 0 Q12 -10 24 0 Q12 10 0 0Z" /></g>
    <g class="branch-leaf" transform="translate(184 65) rotate(38)"><path d="M0 0 Q11 -9 22 0 Q11 9 0 0Z" /></g>
    <g class="branch-leaf" transform="translate(244 30) rotate(205)"><path d="M0 0 Q10 -8 20 0 Q10 8 0 0Z" /></g>
  </svg>
</div>
