<span class="resume-timeline-sprig" aria-hidden="true">
  <svg viewBox="0 0 1200 240" preserveAspectRatio="xMidYMid meet" focusable="false">
    <defs>
      <g id="resume-sakura-mark">
        <g class="resume-sakura-petals">
          <path d="M0 1C-4-2-8-7-5-11c2-3 6-2 7 2 3-5 8-4 9 0 1 4-5 8-11 10Z"/>
          <path d="M0 1C-4-2-8-7-5-11c2-3 6-2 7 2 3-5 8-4 9 0 1 4-5 8-11 10Z" transform="rotate(72)"/>
          <path d="M0 1C-4-2-8-7-5-11c2-3 6-2 7 2 3-5 8-4 9 0 1 4-5 8-11 10Z" transform="rotate(144)"/>
          <path d="M0 1C-4-2-8-7-5-11c2-3 6-2 7 2 3-5 8-4 9 0 1 4-5 8-11 10Z" transform="rotate(216)"/>
          <path d="M0 1C-4-2-8-7-5-11c2-3 6-2 7 2 3-5 8-4 9 0 1 4-5 8-11 10Z" transform="rotate(288)"/>
        </g>
        <g class="resume-sakura-stamens"><path d="M0 1 1-3m0 4 4-3m-4 2 5 0m-5-1 3-5"/><circle cx="1" cy="-3" r=".65"/><circle cx="5" cy="-2" r=".65"/><circle cx="6" cy="0" r=".65"/><circle cx="4" cy="-5" r=".65"/></g>
        <circle class="resume-sakura-center" r="1.8"/>
      </g>
      <path id="resume-falling-petal" class="resume-falling-petal" d="M0 0 C-5-4-5-11 0-14 C5-11 5-4 0 0Z"/>
      <g id="resume-side-bloom-branch">
        <!-- One low, gently wandering bough keeps the whole canopy visually joined. -->
        <path class="resume-side-branch-stem" d="M24 129 C170 117 272 139 405 128 S650 112 782 126 S1012 142 1176 119"/>
        <!-- Side growths fork from the same bough at shallow angles, like a woven espalier. -->
        <path class="resume-side-branch-twig" d="M142 124 C166 111 184 97 207 82 C226 71 243 66 267 63 M207 82 C209 70 207 59 201 50"/>
        <path class="resume-side-branch-twig" d="M337 132 C360 119 380 104 402 92 C420 82 440 79 460 78 M402 92 C404 80 401 69 395 61"/>
        <path class="resume-side-branch-twig" d="M566 119 C591 108 612 96 635 84 C654 75 675 72 696 73 M635 84 C638 72 636 61 630 53"/>
        <path class="resume-side-branch-twig" d="M790 127 C814 115 836 103 859 93 C880 84 900 83 922 86 M859 93 C860 81 857 71 850 64"/>
        <path class="resume-side-branch-twig" d="M1000 137 C1024 125 1047 113 1070 103 C1091 94 1113 92 1134 96"/>
        <path class="resume-side-branch-leaf" d="M0 0 Q9 -5 18 0 Q9 5 0 0Z" transform="translate(178 101) rotate(-25)"/>
        <path class="resume-side-branch-leaf" d="M0 0 Q8 -5 16 0 Q8 5 0 0Z" transform="translate(369 110) rotate(-28)"/>
        <path class="resume-side-branch-leaf" d="M0 0 Q9 -5 18 0 Q9 5 0 0Z" transform="translate(600 103) rotate(-24)"/>
        <path class="resume-side-branch-leaf" d="M0 0 Q8 -5 16 0 Q8 5 0 0Z" transform="translate(826 110) rotate(-25)"/>
        <path class="resume-side-branch-leaf" d="M0 0 Q8 -5 16 0 Q8 5 0 0Z" transform="translate(1040 117) rotate(-26)"/>
        <g transform="translate(211 81)"><use href="#resume-sakura-mark" x="-7" y="-7" width="14" height="14"/><use href="#resume-sakura-mark" x="3" y="-4" width="12" height="12"/></g>
        <g transform="translate(405 91)"><use href="#resume-sakura-mark" x="-8" y="-8" width="16" height="16"/><use href="#resume-sakura-mark" x="4" y="-3" width="12" height="12"/></g>
        <g transform="translate(638 83)"><use href="#resume-sakura-mark" x="-7" y="-7" width="14" height="14"/><use href="#resume-sakura-mark" x="3" y="-3" width="12" height="12"/></g>
        <g transform="translate(862 92)"><use href="#resume-sakura-mark" x="-8" y="-8" width="16" height="16"/><use href="#resume-sakura-mark" x="4" y="-3" width="12" height="12"/></g>
        <g transform="translate(1074 102)"><use href="#resume-sakura-mark" x="-7" y="-7" width="14" height="14"/><use href="#resume-sakura-mark" x="3" y="-3" width="12" height="12"/></g>
        <g transform="translate(300 133)"><use href="#resume-sakura-mark" x="-6" y="-6" width="12" height="12"/></g>
        <g transform="translate(727 120)"><use href="#resume-sakura-mark" x="-7" y="-7" width="14" height="14"/></g>
        <g transform="translate(950 139)"><use href="#resume-sakura-mark" x="-6" y="-6" width="12" height="12"/></g>
        <g transform="translate(92 127)"><use href="#resume-sakura-mark" x="-7" y="-7" width="14" height="14"/><use href="#resume-sakura-mark" x="3" y="-2" width="11" height="11"/></g>
        <g transform="translate(278 132)"><use href="#resume-sakura-mark" x="-6" y="-6" width="12" height="12"/><use href="#resume-sakura-mark" x="4" y="-1" width="10" height="10"/></g>
        <g transform="translate(510 117)"><use href="#resume-sakura-mark" x="-7" y="-7" width="14" height="14"/><use href="#resume-sakura-mark" x="4" y="-2" width="11" height="11"/></g>
        <g transform="translate(755 123)"><use href="#resume-sakura-mark" x="-6" y="-6" width="12" height="12"/><use href="#resume-sakura-mark" x="3" y="-1" width="10" height="10"/></g>
        <g transform="translate(925 134)"><use href="#resume-sakura-mark" x="-7" y="-7" width="14" height="14"/><use href="#resume-sakura-mark" x="3" y="-2" width="11" height="11"/></g>
        <g transform="translate(1150 123)"><use href="#resume-sakura-mark" x="-7" y="-7" width="14" height="14"/><use href="#resume-sakura-mark" x="3" y="-2" width="11" height="11"/></g>
        <g transform="translate(55 126)"><use href="#resume-sakura-mark" x="-6" y="-6" width="12" height="12"/><use href="#resume-sakura-mark" x="2" y="-3" width="10" height="10"/></g>
        <g transform="translate(166 112)"><use href="#resume-sakura-mark" x="-6" y="-6" width="12" height="12"/></g>
        <g transform="translate(246 137)"><use href="#resume-sakura-mark" x="-6" y="-6" width="12" height="12"/><use href="#resume-sakura-mark" x="3" y="-1" width="10" height="10"/></g>
        <g transform="translate(362 121)"><use href="#resume-sakura-mark" x="-6" y="-6" width="12" height="12"/></g>
        <g transform="translate(474 123)"><use href="#resume-sakura-mark" x="-6" y="-6" width="12" height="12"/><use href="#resume-sakura-mark" x="3" y="-1" width="10" height="10"/></g>
        <g transform="translate(548 114)"><use href="#resume-sakura-mark" x="-6" y="-6" width="12" height="12"/></g>
        <g transform="translate(681 117)"><use href="#resume-sakura-mark" x="-6" y="-6" width="12" height="12"/><use href="#resume-sakura-mark" x="3" y="-1" width="10" height="10"/></g>
        <g transform="translate(818 123)"><use href="#resume-sakura-mark" x="-6" y="-6" width="12" height="12"/></g>
        <g transform="translate(908 133)"><use href="#resume-sakura-mark" x="-6" y="-6" width="12" height="12"/></g>
        <g transform="translate(1035 134)"><use href="#resume-sakura-mark" x="-6" y="-6" width="12" height="12"/><use href="#resume-sakura-mark" x="3" y="-1" width="10" height="10"/></g>
        <g transform="translate(1112 128)"><use href="#resume-sakura-mark" x="-6" y="-6" width="12" height="12"/></g>
        <g class="resume-canopy-wide-flowers">
          <g transform="translate(125 117)"><use href="#resume-sakura-mark" x="-7" y="-7" width="14" height="14"/><use href="#resume-sakura-mark" x="3" y="-2" width="11" height="11"/></g>
          <g transform="translate(325 127)"><use href="#resume-sakura-mark" x="-7" y="-7" width="14" height="14"/></g>
          <g transform="translate(445 126)"><use href="#resume-sakura-mark" x="-7" y="-7" width="14" height="14"/><use href="#resume-sakura-mark" x="3" y="-2" width="11" height="11"/></g>
          <g transform="translate(585 116)"><use href="#resume-sakura-mark" x="-7" y="-7" width="14" height="14"/></g>
          <g transform="translate(700 121)"><use href="#resume-sakura-mark" x="-7" y="-7" width="14" height="14"/><use href="#resume-sakura-mark" x="3" y="-2" width="11" height="11"/></g>
          <g transform="translate(845 128)"><use href="#resume-sakura-mark" x="-7" y="-7" width="14" height="14"/></g>
          <g transform="translate(985 138)"><use href="#resume-sakura-mark" x="-7" y="-7" width="14" height="14"/><use href="#resume-sakura-mark" x="3" y="-2" width="11" height="11"/></g>
          <g transform="translate(1090 125)"><use href="#resume-sakura-mark" x="-7" y="-7" width="14" height="14"/></g>
        </g>
      </g>
    </defs>
    <use href="#resume-side-bloom-branch"/>
    <circle class="resume-canopy-origin" cx="166" cy="112" r="1" fill="transparent"/>
    <g class="resume-canopy-petals" aria-hidden="true">
      <use href="#resume-falling-petal" x="272" y="133" transform="rotate(22 272 133)"/>
      <use href="#resume-falling-petal" x="492" y="151" transform="rotate(-18 492 151)"/>
      <use href="#resume-falling-petal" x="746" y="137" transform="rotate(34 746 137)"/>
      <use href="#resume-falling-petal" x="948" y="158" transform="rotate(-27 948 158)"/>
    </g>
  </svg>
</span>
