<a href="{{ .Get 0 }}" target="_blank" rel="noopener noreferrer">
   View résumé <img src="maximize.png" alt="Maximize" class="maximize-icon" height="15px" width="15px">
</a>


<style>
    a .maximize-icon {
        display: inline-block;
        flex-direction: column;
        align-items: flex-start;
        padding: auto;
        filter: invert(40%);
        line-height: 0%;
        text-decoration: none;
        margin:0;


    }

    a:hover .maximize-icon {
        filter: invert(40%);
        transform: scale(1.2);

    }
</style>


<!-- <iframe src="{{ .Get 0 }}" width="100%" height="600px"></iframe> -->
